/cpp/.vs
/cpp/out
cpp/ThirdParty/glm/out/build/x64-Debug/Testing/Temporary/LastTest.log
cpp/ThirdParty/glm/out/build/x64-Debug/Testing/Temporary/LastTest.log
cpp/ThirdParty/glm/out/build/x64-Debug/.cmake/api/v1/reply/index-2025-07-01T17-50-27-0952.json
cpp/ThirdParty/glm/out/build/x64-Debug/Testing/Temporary/LastTest.log
/cpp/ThirdParty/glm/out
